.row
  .seven.columns.centered
    %fieldset
      %legend
        %h4 Input your Quiz scores

      %h5.subheader
        And we will predict your fate this semester

      %form
        .row
          .three.columns
            %label.right.inline Quiz #1
          .nine.columns
            .six.columns
              = text_field_tag :quiz, nil, :placeholder => "Grade"
            .six.columns
              = text_field_tag :quiz, nil, :placeholder => "Total"
        .row
          .three.columns
            %label.right.inline Quiz #2
          .nine.columns
            .six.columns
              = text_field_tag :quiz, nil, :placeholder => "Grade"
            .six.columns
              = text_field_tag :quiz, nil, :placeholder => "Total"
        .row
          .three.columns
            %label.right.inline Quiz #3
          .nine.columns
            .six.columns
              = text_field_tag :quiz, nil, :placeholder => "Grade"
            .six.columns
              = text_field_tag :quiz, nil, :placeholder => "Total"
      
    .even
      = button_tag "Predict", :class => "button twelve columns"
